This Program can detects Outliers and remove it.Assuming Datatype of Dataset can be Object,int64,float,Bollean,Dateandtime.

In [249]:
#importing libraries
import pandas as pd
import numpy as np

In [250]:
#Making dataframe which contain Object,int64,float,Bollean,Dateandtime.
d = {'col1': [10000, 2, 3, 4, 7], 'col2': [4.5, 5.9, 6.2, 9000.9, 5.3], 'col3': [True, True, True, False, True], 'col4': ['sohrat','shyam','heera','gvjhd','tyvjh'], 'col5': ['20190902','20190913','20190921','20190923','20190928']}
df = pd.DataFrame(data=d)

In [251]:
print(df)

    col1    col2   col3    col4      col5
0  10000     4.5   True  sohrat  20190902
1      2     5.9   True   shyam  20190913
2      3     6.2   True   heera  20190921
3      4  9000.9  False   gvjhd  20190923
4      7     5.3   True   tyvjh  20190928

In [252]:
#Converting column number 5(col5) to datetime format

df['col5'] = pd.to_datetime(df['col5'], format='%Y%m%d')

In [253]:
#Checking Datatypes of each column
df.dtypes

col1             int64
col2           float64
col3              bool
col4            object
col5    datetime64[ns]
dtype: object

In [254]:
#Checking Statstical measures
df.describe()

               col1        col2
count      5.000000     5.00000
mean    2003.200000  1804.56000
std     4470.347492  4022.87641
min        2.000000     4.50000
25%        3.000000     5.30000
50%        4.000000     5.90000
75%        7.000000     6.20000
max    10000.000000  9000.90000

In [255]:
def detect_remove_outliers(df):
  li=[] #To append all the index that conatins outliers

  for i in df.columns:   #Traversing each column
    if(df[i].dtypes!='bool' and df[i].dtypes!='object' and df[i].dtypes!='datetime64[ns]'):  #Checking datatypes of columns and passing only column that contain continuous variable
      q1,q3 = np.percentile(df[i],[25,75])    #Finding 1st and 3rd Quartiile of column
      iqr = q3-q1     #Interquartile formulae
      #print(iqr)
      lower_bound = q1 -(1.5*iqr)  #This is lower bound values less than this will be outliers
      upper_bound = q3 +(1.5*iqr)  #This is upper bound values more than this will be outliers
      #print(lower_bound,upper_bound)
      for j in range(df[i].size):  #Traversing each values in a column
        if((df[i][j]<lower_bound) or (df[i][j]>upper_bound)): #Checking Outliers
          #print(j) 
          li.append(j)  #Appending oulier index to the list li
  li=list(set(li))  #Converting list into set to remove duplicate index otherwise it will give key error
  df.drop(li,inplace=True)  #Removing Outliers 
  return(df) #Returning Final df

In [256]:
print(detect_remove_outliers(df)) #Calling detect_remove_outliers function

   col1  col2  col3   col4       col5
1     2   5.9  True  shyam 2019-09-13
2     3   6.2  True  heera 2019-09-21
4     7   5.3  True  tyvjh 2019-09-28